# Firebase Configuration Keys
# (Already pre-configured for live deployment)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAosZ0fHjUFgfFY-UyKL-czl5wY-lnxme8
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=csp-project-c312a.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=csp-project-c312a
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=csp-project-c312a.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=977575288645
NEXT_PUBLIC_FIREBASE_APP_ID=1:977575288645:web:79dc6e71227d6e1995a82c
